<div class="body">
  <mat-card class="account" *ngIf="direction !== undefined">
    <div style="text-align:center">
      <section class="header">
        <!--
        <img *ngIf="!url" [src]="data" class="profile" />
        <img  *ngIf="url"src='https://ipfs.infura.io/ipfs/{{ url }}'class="profileInfura" />
       <h4 *ngIf="profile"> Welcome {{ profile.name }}   </h4>
       <h6 *ngIf="profile">{{ profile.emoji }}</h6>
        -->
        <h4>Your address is:</h4>
        <h6>{{ direction }} </h6>
        <h4>Balance:</h4>
        <h5>{{ balance }} ETH</h5>
      </section>

      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of columns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </div>

  </mat-card>
</div>
<div class="body" *ngIf="direction == undefined">

  <mat-card class="account">

    <div style="text-align:center">
      <section class="header">
        <h3> Click connect account to connect the wallet provider </h3>
        <button mat-raised-button color="accent" class="big-round-shape-button" (click)="connectAccount()"> Connect Account</button>
        &nbsp;
      </section>
    </div>


  </mat-card>
</div>
